<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.iretailer.rest.dao.SubjectMapper">
  <resultMap id="BaseResultMap" type="net.iretailer.rest.model.Subject">
    <id column="id" jdbcType="SMALLINT" property="id" />
    <result column="site_id" jdbcType="SMALLINT" property="siteId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, site_id, start_time, end_time, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from subject
    where id = #{id,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from subject
    where id = #{id,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="net.iretailer.rest.model.Subject">
    insert into subject (id, site_id, start_time, 
      end_time, name)
    values (#{id,jdbcType=SMALLINT}, #{siteId,jdbcType=SMALLINT}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.iretailer.rest.model.Subject">
    insert into subject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="siteId != null">
        site_id,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=SMALLINT},
      </if>
      <if test="siteId != null">
        #{siteId,jdbcType=SMALLINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.iretailer.rest.model.Subject">
    update subject
    <set>
      <if test="siteId != null">
        site_id = #{siteId,jdbcType=SMALLINT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.iretailer.rest.model.Subject">
    update subject
    set site_id = #{siteId,jdbcType=SMALLINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=SMALLINT}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from subject where site_id=#{subject,jdbcType=VARCHAR} 
  </select>
</mapper>